# Ant
/build/

# IntelliJ build
/build-ij/

# Buck
/buck-out
/local.properties
/.buckconfig.local
/.buckd

# Compiled Python
*.pyc
*py.class

# buckconfig in Ocaml test project directory to override compiler paths.
/test/com/facebook/buck/ocaml/testdata/ocaml/.buckconfig
# bootstrapper test is run in the source tree
/test/com/facebook/buck/cli/bootstrapper/testdata/old_guava/buck-out/

# Eclipse
/.settings/
/.apt_generated/

# IntelliJ, based on http://devnet.jetbrains.net/docs/DOC-1186
/.idea/ant.xml
/.idea/dictionaries
/.idea/inspectionProfiles
/.idea/tasks.xml
/.idea/uiDesigner.xml
/.idea/workspace.xml
/.idea/misc.xml
/.idea/runConfigurations
/.idea/copyright/profiles_settings.xml

# From building Emma with Ant.
/third-party/java/emma-2.0.5312/out/

# From building Jacoco with Ant.
/third-party/java/jacoco-0.6.4/report-generator-build/

# OS X
.DS_Store

# vim swp files
.*.swp
.*.swo


# Emacs backup files
*~
\#*
