# Ant
/build/

# IntelliJ build
/build-ij/

# Buck
/buck-out
/.buckconfig.local
/.buckd
/.buckjavaargs.local
/.bucklogging.local.properties
.fakebuckversion
/.nobuckcheck

# Files created during tests
/test/com/facebook/buck/testutil/integration/testlibs/buck-out/
/test/**/testdata/**/buck-out/
/test/**/testdata/**/.buckd/

# Compiled Python
*.pyc
*py.class

# mypy cache files
.mypy_cache

# buckconfig in Ocaml test project directory to override compiler paths.
/test/com/facebook/buck/ocaml/testdata/ocaml/.buckconfig
# bootstrapper test is run in the source tree
/test/com/facebook/buck/cli/bootstrapper/testdata/old_guava/buck-out/

# From building Emma with Ant.
/third-party/java/emma-2.0.5312/out/

# From building Jacoco with Ant.
/third-party/java/jacoco-0.6.4/report-generator-build/

# From building pywatchman with Ant.
/third-party/py/pywatchman/build/
/third-party/py/pywatchman/pywatchman.egg-info/
/third-party/py/pywatchman/dist/

# From building skylib with buck
/third-party/skylark/bazel-skylib/buck-out

# OS X
.DS_Store

# vim swp files
.*.sw[a-p]

# Vim editing-state session files
Session.vim

# Emacs backup files
*~
\#*

# IntelliJ plugin generated syntax source files
tools/ideabuck/src/com/facebook/buck/intellij/ideabuck/lang/_BuckLexer.java
tools/ideabuck/gen

