{namespace skylark}

/**
 * Table of contents for the Skylark functions section.
 * @param navid The current page's navigation id.
 */
{template .tableOfContents}
  <ul>
      <li><strong>Skylark</strong></li>
                {call navigation.link}
                    {param currentnavid: $navid /}
                    {param folder: 'skylark/generated' /}
                    {param page: 'dummy' /}
                    {param text: 'dummy()' /}
                {/call}

  </ul>
{/template}