{namespace buck.skylark.dummy}

/***/
{template .soyweb}
  {call buck.page}
    {param title: 'dummy()' /}
    {param navid: 'skylark/generated_dummy' /}
    {param prettify: true /}
    {param description}
      Returns a dummy list of strings.
    {/param}
    {param content}
      {call buck.function}
        {param status: 'UNFROZEN' /}
        {param overview}
          Returns a dummy list of strings.
        {/param}
      {/call}
    {/param} // content
  {/call}
{/template}
