{namespace buck.dummy}

/***/
{template .soyweb}
  {call buck.page}
    {param title: 'dummy()' /}
    {param navid: 'function_dummy' /}
    {param prettify: true /}
    {param description}
      Returns a dummy list of strings.
    {/param}
    {param content}

      {call buck.function}
        {param status: 'UNFROZEN' /}
        {param overview}
          Returns a dummy list of strings.
        {/param}

        {param args}

                      { call buck.functionArg }
                        { param name : 'seed' /}
                        { param desc }
                          the first element of the returned list.
                        {/param}
                        { param default : '' /}
                      {/call}


        {/param}
      {/call}
    {/param} // content
  {/call}
{/template}
