<?xml version="1.0" encoding="utf-8"?>
<!-- package and versionCode must match the values in AgentUtil. -->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.facebook.buck.android.agent"
    android:versionCode="3"
    android:versionName="3">

  <uses-sdk
      android:minSdkVersion="8"
      android:targetSdkVersion="19"/>

  <application>
  </application>

</manifest>
