{namespace jvm_common}

/***/
{template .test_env}
{call buck.arg}
  {param name: 'env' /}
  {{param default : '{}' /}}
  {param desc}
  A map of environment names and values to set when running the test.
  {/param}
{/call}
{/template}